In [1]:
import requests
import pandas as pd
from config import api_key

In [2]:
# Nashville Restaurants

In [3]:
# adding API results to a dataframe

url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': f'Bearer {api_key}'}
nashville_params = {
    'latitude': 36.1627,
    'longitude': -86.7816,
    'radius': 10000,
    'categories': 'restaurants',
    'limit': 50
}

nashville_response = requests.get(url, headers=headers, params=nashville_params)

# creating empty lists for data frame
nashville_results = {'Name': [], 'Rating': [], 'Pricing': [], 'Number of Reviews': []}

# Check if the response was successful
if nashville_response.status_code == 200:
    # Parse the JSON response
    nashville_data = nashville_response.json().get('businesses', [])
    
    # Loop through each restaurant
    for n in nashville_data:
        nashville_results['Name'].append(n['name'])
        nashville_results['Rating'].append(n['rating'])
        # Check if 'price' key exists in the data
        if 'price' in n:
            nashville_results['Pricing'].append(len(n['price']))
        else:
            nashville_results['Pricing'].append('N/A')
        nashville_results['Number of Reviews'].append(n['review_count'])
        
nashville_restaurant_info_df = pd.DataFrame(nashville_results)

nashville_restaurant_info_df.to_csv('nashville-restaurant-info.csv', index=False)

nashville_restaurant_info_df.head()

                               Name  Rating Pricing  Number of Reviews
0                      The Stillery     4.4       2               3424
1  Puckett's Restaurant - Nashville     3.9       2               3288
2                       Sixty Vines     4.5       2                944
3                              etch     4.5       3               1699
4            The Twelve Thirty Club     4.3     N/A                788

In [4]:
# creating dataframe of restaurant categories
nashville_category_results = {'Name': [], 'Category': []}

# Check if the response was successful
if nashville_response.status_code == 200:

    # Loop through each restaurant
    for n in nashville_data:
        nashville_category_results['Name'].append(n['name'])
        nashville_category_results['Category'].append(n['categories'][0]['title'])
        
nashville_category_df = pd.DataFrame(nashville_category_results)

nashville_category_df.to_csv('nashville-restaurant-categories.csv', index=False)

nashville_category_df.head()

                               Name       Category
0                      The Stillery   New American
1  Puckett's Restaurant - Nashville       American
2                       Sixty Vines   New American
3                              etch   New American
4            The Twelve Thirty Club  Cocktail Bars

In [5]:
# # printing API results

# url = 'https://api.yelp.com/v3/businesses/search'
# headers = {'Authorization': f'Bearer {api_key}'}
# nashville_params = {
#     'latitude': 36.1627,
#     'longitude': -86.7816,
#     'radius': 10000,
#     'categories': 'restaurants',
#     'limit': 50
# }

# nashville_response = requests.get(url, headers=headers, params=nashville_params)

# # Check if the response was successful
# if nashville_response.status_code == 200:
#     # Parse the JSON response
#     nashville_data = nashville_response.json().get('businesses', [])
    
#     # Loop through each restaurant
#     for n in nashville_data:
#         print("Restaurant: {}".format(n['name']))
#         print("Rating: {}".format(n['rating']))
#         # Check if 'price' key exists in the data
#         if 'price' in n:
#             print("Pricing: {}".format(len(n['price'])))
#         else:
#             print("Pricing data not available")
#         print("Reviews: {}".format(n['review_count']))
#         print()
# else:
#     # Print error message if the response was not successful
#     print("Error:", nashville_response.status_code)

In [6]:
# The JSON format of the restaurant data we're pulling
# nashville_data

In [7]:
# Franklin Restaurants

In [8]:
# adding API results to a dataframe

franklin_params = {
    'latitude': 35.9250,
    'longitude': -86.8697,
    'radius': 10000,
    'categories': 'restaurants',
    'limit': 50
}

franklin_response = requests.get(url, headers=headers, params=franklin_params)

# creating empty lists for data frame
franklin_results = {'Name': [], 'Rating': [], 'Pricing': [], 'Number of Reviews': []}

# Check if the response was successful
if franklin_response.status_code == 200:
    # Parse the JSON response
    franklin_data = franklin_response.json().get('businesses', [])
    
    # Loop through each restaurant
    for f in franklin_data:
        franklin_results['Name'].append(f['name'])
        franklin_results['Rating'].append(f['rating'])
        # Check if 'price' key exists in the data
        if 'price' in f:
            franklin_results['Pricing'].append(len(f['price']))
        else:
            franklin_results['Pricing'].append('N/A')
        franklin_results['Number of Reviews'].append(f['review_count'])
        
franklin_restaurant_info_df = pd.DataFrame(franklin_results)

franklin_restaurant_info_df.to_csv('franklin-restaurant-info.csv', index=False)

franklin_restaurant_info_df.head()

                             Name  Rating Pricing  Number of Reviews
0                        Red Pony     4.4       3                551
1                      Cork & Cow     4.3       3                323
2                  GRAY'S On Main     3.7       2                683
3             55 South - Franklin     4.2       2                760
4  Puckett's Grocery & Restaurant     4.2       2               1119

In [9]:
# creating dataframe of restaurant categories
franklin_category_results = {'Name': [], 'Category': []}

# Check if the response was successful
if franklin_response.status_code == 200:

    # Loop through each restaurant
    for f in franklin_data:
        franklin_category_results['Name'].append(f['name'])
        franklin_category_results['Category'].append(f['categories'][0]['title'])
        
franklin_category_df = pd.DataFrame(franklin_category_results)

franklin_category_df.to_csv('franklin-restaurant-categories.csv', index=False)

franklin_category_df.head()

                             Name     Category
0                        Red Pony     American
1                      Cork & Cow  Steakhouses
2                  GRAY'S On Main         Bars
3             55 South - Franklin     Southern
4  Puckett's Grocery & Restaurant     Barbeque